body {
background-image: url('https://images.unsplash.com/photo-1593024282550-af02e8726937?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80');
background-color: black;
font-family: "Raleway", Helvetica, sans-serif;
background-size: cover;
}
.container-fluid{
/*    background-color: rgba(128,128,128,0.5);*/
}

#title{
    font-family: cursive;
    font-size: 50px;
    color: azure;
    padding: 10px;
    margin: auto;
}
#description{
    font-family: 'Fondamento', cursive;
    color: white;
    font-size: 15px;
    padding: 5px;
}
#survey-form {
    font-family: 'Hind', sans-serif;
    color: black;
    font-size: 18px;
    margin: auto;
    width: 50%;
    padding: 20px;
    background-color: aliceblue;
    border-radius: 10px;
}
.form-group{
    padding: 5px;
}
.input-textarea{
    width: 100%;
    min-height: 120px;
    border-radius: 5px;
    color: black;
}
@media screen and (max-width: 800px) {
  #survey-form, #title, #description {
    width: 98%; /* The width is 98%, when the viewport is 800px or smaller */
  }
}


/*
main {
    
  opacity: 0.5;
    background-color: aliceblue;
        opacity: 1;
  height: 100%;
  max-width: 900px;
  margin: auto;
  margin-bottom: 80px;
  padding-bottom: 10px;
  padding-top: 10px;
  position: relative;
  top: 80px;
    text-align: left;
    
}

@media (max-width: 400px) {
  main {
    top: 65px;
      margin-top: 5px;
      
  }
}

.title-text {
  margin: auto;
  margin-top: -5px;
  text-align: center;
    font-family: cursive;
    font-size: 20px;
    padding:0px;
}

#description {
  margin-top: 10px;
}

#survey-form {
    margin:auto;
    border-width: medium;
  display: flex;
  flex-direction: column;
    font-family: serif;
    text-align: left;
    font-size: 20px;
    visibility: 1;
    align-content: left;
   padding-left: 5px;
    padding-right: 5px;
    
}



@media (max-width: 600px) {
  #survey-fields {
    grid-template-columns: 1fr;
      margin-top: 10px;
      padding: inherit;
  }
  label {
    text-align: left;
  }
}

@media (min-width: 600px) {
  #survey-fields {
    grid-template-columns: 1fr 1fr;
      
  }
  label {
    text-align: left;
  }
}

fieldset {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 0;
  min-width: 100%;
}

fieldset label:hover {
  font-weight: bold;
}

#submit {
  margin: auto;
  background-color: var(--background-c, lightgray);
  border-radius: 8px;
  padding: 10px 20px 10px 20px;
  margin-top: 5px;
  font-size: 85%;
    font-family: serif bold;
}
.title-text{
    font-size: 30px;
    color: azure;
}
.btn{
    cursor: pointer;
}
div{
    margin:50px;
}
#r_definitely{
    width: 10px;
}
.form-control {
  display: block;
  width: 100%;
  height: 2.375rem;
    font-size: 19px;
}
*/
